@import "bootstrap-sprockets";
@import "bootstrap";
@import "select2";
@import "select2-bootstrap";

.header {
	width: 100%;
	height: 50px;
	text-align: center;
	font-size: 35px;
	background-color: #eeeeee;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.controls {
	list-style: none;

	li > a {
		padding: 3px 5px;
		margin-left: 3px;
	}
}

.menu {
	margin-bottom: 20px;
}

.add-friend-page {
	.user-list-item > div {
		margin: 10px -10px 0 -10px;
		padding: 10px;
		border-radius: 3px;
		border: 1px solid #eee;

		.name {
			font-size: 24px;
			font-weight: bold;
			margin-bottom: 0;
		}
		.email {
			text-overflow: ellipsis;
		}
	}
}

.new-message-form {
	margin-top: 20px;
}

.unread {
	font-weight: bold;
}

.show-message {
	margin-top: 20px;

	.content {
		border-top: 1px solid #ccc;
		padding-top: 10px;
	}
}